# Ignore everything
*
# But not these files...
!.gitignore
!Lib/site-packages/QtDesigner/SRRA.py
!Lib/site-packages/QtDesigner/srraui.py
!Lib/site-packages/QtDesigner/srra.ui
!requirements.txt
# ...even if they are in subdirectories
!*/