# Ignore everything
*
# But not these files...
!.gitignore
!Lib/site-packages/QtDesigner/src/*
!requirements.txt
!README.md
# ...even if they are in subdirectories
!*/
 
Lib/site-packages/QtDesigner/src/config.ini

